.wallet {
    padding: 0 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px 0 0 10px;
}

.wallet_Sum--profit {
    text-align: right;
    color:rgb(51, 204, 51);
}

.wallet_Sum--expenditure {
    text-align: right;
    color:rgba(255, 0, 0, 0.555);
}

.title {
    color: #000;
    font-size: 12px;
    display: block;
    text-align: left;
}